<h1>Cuisine/Restaurant</h1>

<form action="/Cuisines" method="post">
  <label for="inputCuisine">Enter your Cuisine:</label>
  <input name="inputCuisine" class="form-control" id="inputCuisine">
  <button type="submit" class="btn btn-success">Go.</button>
</form>

<a href="/Cuisines">View All Cuisines</a>
<br>
<a href="/RestaurantList">View All Restaurants</a>
