<p>@Model["cuisine"].GetName()</p>


@foreach (var restaurant in Model["restaurant"])
{
<p>@restaurant.GetName()</p>
<p>@restaurant.GetHours()</p>
}


@* @foreach (var Cuisine in Model)
{
<p><a href="Categories/@Cuisine.GetId()">@Cuisine.GetName()</a></p>
} *@


<form action="/Tasks/Delete" method="post">
  <button type="submit" class="btn btn-success">Delete All Restaurants</button>
</form>

<form action="/Categories/@Model["cuisine"].GetId()/Delete" method="post">
  <button type="submit" class="btn btn-success">Delete This Cuisine</button>
</form>

<a href="/Categories">View All Cuisines</a>
<br>
<a href="/Categories/@Model["cuisine"].GetId()/tasks/new">Add Restaurant</a>

<a href="/Categories/@Model["cuisine"].GetId()/tasks/update">Update Restaurant</a>
